@import '@repo/tailwind-config';

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Sticky nav styles */
nav.stuck {
  @apply rounded-t-none bg-foreground/15;
}