@import "tailwindcss";

@theme {
  --radius: 0.65rem;
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.141 0.005 285.823);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.141 0.005 285.823);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.141 0.005 285.823);
  --color-primary: oklch(0.648 0.2 131.684);
  --color-primary-foreground: oklch(0.986 0.031 120.757);
  --color-secondary: oklch(0.967 0.001 286.375);
  --color-secondary-foreground: oklch(0.21 0.006 285.885);
  --color-muted: oklch(0.967 0.001 286.375);
  --color-muted-foreground: oklch(0.552 0.016 285.938);
  --color-accent: oklch(0.967 0.001 286.375);
  --color-accent-foreground: oklch(0.21 0.006 285.885);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-border: oklch(0.92 0.004 286.32);
  --color-input: oklch(0.92 0.004 286.32);
  --color-ring: oklch(0.841 0.238 128.85);
  --color-chart-1: oklch(0.871 0.15 154.449);
  --color-chart-2: oklch(0.723 0.219 149.579);
  --color-chart-3: oklch(0.627 0.194 149.214);
  --color-chart-4: oklch(0.527 0.154 150.069);
  --color-chart-5: oklch(0.448 0.119 151.328);
  --color-sidebar: oklch(0.985 0 0);
  --color-sidebar-foreground: oklch(0.141 0.005 285.823);
  --color-sidebar-primary: oklch(0.648 0.2 131.684);
  --color-sidebar-primary-foreground: oklch(0.986 0.031 120.757);
  --color-sidebar-accent: oklch(0.967 0.001 286.375);
  --color-sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --color-sidebar-border: oklch(0.92 0.004 286.32);
  --color-sidebar-ring: oklch(0.841 0.238 128.85);
}


@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: oklch(0.141 0.005 285.823);
    --color-foreground: oklch(0.985 0 0);
    --color-card: oklch(0.21 0.006 285.885);
    --color-card-foreground: oklch(0.985 0 0);
    --color-popover: oklch(0.21 0.006 285.885);
    --color-popover-foreground: oklch(0.985 0 0);
    --color-primary: oklch(0.648 0.2 131.684);
    --color-primary-foreground: oklch(0.986 0.031 120.757);
    --color-secondary: oklch(0.274 0.006 286.033);
    --color-secondary-foreground: oklch(0.985 0 0);
    --color-muted: oklch(0.274 0.006 286.033);
    --color-muted-foreground: oklch(0.705 0.015 286.067);
    --color-accent: oklch(0.274 0.006 286.033);
    --color-accent-foreground: oklch(0.985 0 0);
    --color-destructive: oklch(0.704 0.191 22.216);
    --color-border: oklch(1 0 0 / 10%);
    --color-input: oklch(1 0 0 / 15%);
    --color-ring: oklch(0.405 0.101 131.063);
    --color-chart-1: oklch(0.871 0.15 154.449);
    --color-chart-2: oklch(0.723 0.219 149.579);
    --color-chart-3: oklch(0.627 0.194 149.214);
    --color-chart-4: oklch(0.527 0.154 150.069);
    --color-chart-5: oklch(0.448 0.119 151.328);
    --color-sidebar: oklch(0.21 0.006 285.885);
    --color-sidebar-foreground: oklch(0.985 0 0);
    --color-sidebar-primary: oklch(0.768 0.233 130.85);
    --color-sidebar-primary-foreground: oklch(0.986 0.031 120.757);
    --color-sidebar-accent: oklch(0.274 0.006 286.033);
    --color-sidebar-accent-foreground: oklch(0.985 0 0);
    --color-sidebar-border: oklch(1 0 0 / 10%);
    --color-sidebar-ring: oklch(0.405 0.101 131.063);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}